
EMBEDDING_MODEL_NAME=embeddingmodelprovider/embeddingmodelname
CHAT_MODEL_NAME=chatmodelprovider/chatmodelname
#subagent model must have image input and tool calling capability but preferably not a reasoning model
SUBAGENT_MODEL_NAME=subagentmodelprovider/subagentmodelname
EMBEDDING_MODEL_CONTEXT=depends on embedding model used
EMBEDDING_MODEL_CHUNK=depends on embedding model used
