EMBEDDING_MODEL_NAME=embeddingmodelprovider/embeddingmodelname
CHAT_MODEL_NAME=chatmodelprovider/chatmodelname
EMBEDDING_MODEL_CONTEXT=depends on embedding model used
EMBEDDING_MODEL_CHUNK=depends on embedding model used
