streamlit
langchain
langchain-openai
ollama
transformers
torch
deepagents
accelerate
langchain-chroma
langchain-text-splitters
pypdf
python-dotenv
langgraph
browser-use
bs4
dotenv
httpx
markdownify
textract

