@import "tailwindcss";

/*.chatbubble {
    border-radius: 10px;

    align-self: start;
    align-content: start;
    background: radial-gradient( circle farthest-corner at 17.6% 50.7%,  rgba(25,0,184,1) 0%, rgba(0,0,0,1) 90% );
}
.chatbubble-text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: white;
}
 */