@import "tailwindcss";
.chat-root {
  background: dimgray;
  color: black;
    /*linear-gradient(
    180.4deg,
    rgba(0, 6, 10, 1) 1%,
    rgb(114, 39, 145) 91.4%
  );*/
}

.navbar-container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.bubble {
  max-width: 75%;
  padding: 10px 14px;
  border-radius: 12px;
  font-size: 14px;
  word-wrap: break-word;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.user-bubble {
  color:black;
  background: white;/*rgba(1, 190, 237, 0.2);*/
  text-align: right;
}

.incoming-bubble {
  color: black;
  background: white;/*rgba(0, 0, 0, 0.4)*/
  text-align: left;
}

.input-container {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.chat-input {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.send-btn {
  color:black;
  background: white;/*rgba(1, 190, 237, 0.3)*/
  border-radius: 8px;
  border: 1px solid black;
}